# Objects and products
*.pyc

# Doxygen
/html

# Build system
/config.dat
/config.log
/script/resource

# Build system, GNUMake
/Makefile
/SGLib_Test*
/build
/lib

# Build system, Xcode
/*.xcodeproj

# Build system, Visual Studio
/Debug
/Release
/x64
/*.sln
/*.sdf
/*.suo
/*.opensdf
/*.vcxproj*
/ipch
